# Config
.github
.vscode
.storybook/
scripts/
.*/
*.config.js
*.config.ts

# Build output
assets/
storybook-static/
coverage/
build/dutySprites/
build/vendor/*.map
*.map
*.tgz

# Other
__tests__/
src/stories/
